
.hero {
  background-image: url("./images/bac2.jpeg");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.hero p {
  color: #fff;
  margin-bottom: 2rem;
}

.explore {
  padding: 4rem 0;
}

.explore h2 {
  margin-bottom: 3rem;
}

.card {
  margin-bottom: 2rem;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin-top: 2rem;
  text-align: center;
}

.form-row {
  width: max-content;
}